# Environment
.env
.env.prod

# Binaries
bin/
*.exe

# Go
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/

# Logs
*.log

# Test coverage
coverage.out
coverage.html
